:root {
  --color: #2196f3;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container-hero {
  width: 696px;
  margin: 0 auto;
}
.link {
  text-decoration: none;
}
.web,
.nav:focus,
.nav:hover,
.link-contact-head:focus,
.link-contact-head:hover,
.link-contact:focus,
.link-contact:hover,
.white:focus,
.white:hover {
  color: var(--color);
}
.link-contact-head,
.link-contact,
.white {
  font-style: normal;
}
.link-contact-head {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.benefits-h {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #212121;
}
.benefits-p {
  color: #757575;
}
.nav {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #000;
}

.tel {
  margin-right: 50px;
}
.navbar .item:not(:last-child) {
  margin-right: 50px;
}
.link-contact,
.link-contact-head {
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #757575;
}

.hero {
  padding-bottom: 200px;
  padding-top: 200px;
  text-align: center;
  color: #ffffff;
  background-image: url(../images/header.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
.header {
  border-bottom: Solid #ececec;
}
.header-content {
  display: flex;
  flex-wrap: wrap;
}
.head {
  display: flex;
  margin-top: 25px;
  margin-bottom: 25px;
  color: black;
}
.navbar {
  display: flex;
}
.contacts {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-left: auto;
}
.logo {
  margin-right: 45px;
  flex-grow: 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px #000;
}

.hero-h {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button-hero {
  display: block;
  min-width: 216px;
  min-height: 50px;
  padding: 10px 32px;
  margin: 0 auto;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  border: none;
  background: var(--color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
. .services {
  margin-top: 50px;
}
.team {
  text-align: center;
  background: #f5f4fa;
}
.benefits-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.benefits-il {
  width: 270px;
}
.products {
  padding-top: 0;
  padding-bottom: 94px;
}
.products-h {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}
.products-ul,
.team-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.products-h,
.team-h {
  margin-top: 0;
  margin-bottom: 50px;
}
.team-h {
  font-size: 36px;
  line-height: 1.6667;
  letter-spacing: 0.03em;

  color: #212121;
}
.team-li-h {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: #212121;
}
.team-ul {
  flex-wrap: wrap;
}
.team-li {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
}
.portfolio {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.specialization {
  margin: 0;
  font-size: 16px;
  line-height: 1.9;
  color: #757575;
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  color: #ffffff;
  background-color: #2f303a;
}
.white {
  color: #ffffff;
}
.logo-foot {
  display: block;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #ffffff;
}
.menu {
  display: flex;
  justify-content: center;
}
.menu-button {
  padding: 6px 22px;
  margin-left: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: #212121;
  border: none;
}
.all-btn {
  padding: 6px 25px;
}
.menu-button:hover,
.menu-button:focus {
  cursor: pointer;
  font-family: inherit;
  color: #ffffff;
  background-color: var(--color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.services {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 34px;
}
.services-li {
  text-align: start;
  font-size: 16px;
  line-height: 1.9;
}
.box {
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.box {
  padding: 20px 24px;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.foot-contacts {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-top: 20px;
}
